@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/*style* */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*body*/
body{
  background-image: url("../images/wallp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}