@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/*style* */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*body*/
body{
  background-image: url("../images/wallp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*nav*/
nav{
    background: goldenrod;
    height: 80px;
    width: 100%;
    position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      z-index: 2;
      padding-top: 5%;
      
  }
  

#icon1{
    height: 200px;
  }
  /*logo*/
  label.logo{
    color: #f2f2f2;
    font-size: 33px;
    line-height: 80px;
    text-transform: uppercase;
    padding: 0 140px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  nav ul{
    float: right;
    margin-right: 60px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 2px;
  }
  nav ul li a{
    color: #f2f2f2;
    font-weight: 500;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px; 
    font-family: 'Poppins', sans-serif;
    z-index: 2;
  }

  a.active,a:hover{/*hover*/
    background: red;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

  @media (max-width: 952px){/*response on screen-size 953*/
    label.logo{
      font-size: 27px;
      padding-left: 25px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  
  #portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:18%;
    margin-right: 16%; 
  }
  .col-md-3 img{
    max-width: 100%;
    max-height: 100%;
  }
  .portfolio h2{
    text-align: center;
    padding-top:40px;
    font-family: 'Gabriela', serif;
  }

  @media (max-width: 858px){/*response on screen size 858*/
    .checkbtn{
      display: block;
      margin-right: 40px;
    }
    
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    } 
    #check:checked ~ ul{
      left: 0;
    }
  }

  /*landing page*/
.home-area{
    background-image: url("../images/lynda-hinton-77RJFb0IXnQ-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding-top: 20%;
    color: white;
     text-align: center;
     font-family: cursive;
  }
  .home-area p {
    text-align: center;
    padding-top: 12%;
  }

  /*other areas abt,ser,feed*/
.about-area h2, .services-area h2, .feedback-area h2 {
    text-align: center;
    text-shadow: 2px 2px blueviolet;
    padding-top: 0px;
  }
  .services-area p {
    text-align: center;
    font-family: cursive;
  }
  #form1 {
     display: none; 
  }

  .services-area, .feedback-area {
    position: relative;
      justify-content: space-around;
      align-items: center;
      padding-top: 10%;
      background-image: #ff5722;
      background: linear-gradient(rgba(0,0,150,0.5),rgba(0,0,50,0.5)),url("");
      background-size: cover;
      background-repeat: no-repeat;
  }

  /*style the 8 overlays*/
#overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    display: none;
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.425);
    position: absolute;
    top: 20px;
    left: 35px;
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    font-family: 'Delius Swash Caps', cursive;
}

/*making the 8 overlays responsive at 755 width*/
@media only screen and (max-width: 755px){
    #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
      width: 100%;
      height: 100%;
      top: 20px;
      left: 16px;
      padding-top: 20%;
    }
    .col-md-3 img{
        width:100%px;
        margin: 20px;
      }
      #portfolio{
        margin-left:8%;
        margin-right: 16%; 
      }
      button{
        margin-left: 2%;
        padding-bottom: 30px;
        margin-bottom: 20px;
       
      }
    }
    /*making the 8 overlays responsive at 425 width*/
  @media only screen and (max-width: 425px){
    #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
      width: 100%;
      height: 100%;
      top: 20px;
      left: 16px;
      padding-top: 20%;
      font-size: 20px;
    }
    .col-md-3 img{
      width:100%px;
      margin: 20px;
    }
    #portfolio{
      margin-left:8%;
      margin-right: 16%; 
    }
    button{
      padding-bottom: 30px;
      margin-bottom: 20px;
    }

    #MERGE0{
        width: 84%;
        margin-left: 4%;
        padding-bottom: 10px;
      }
      #MERGE1{
        width: 100%;
        margin-left: 4%;
        margin-bottom: 20px;
      }
      #comment{
        margin-left: 4%;
        width: 84%;
      }
    }

    